body{background-color:purple;background-image:url(c8f1e5d04ee41d6ed96c143c61b0f6a4.jpg);background-repeat:no-repeat;background-position:center;height:100vh}

.botao{background-color:blue;color:#fff;font-size:20px}

